$SalmonPink : #FFA69E;
$EggShell : #FAF3DD;
$AeroBlue : #B8F2E6;
$PowderBlue : #AED9E0;
$BlackCoral : #5E6472;
$White : #FFF;

body {
    background-image: url("../images/wallpaper.png");
    background-repeat: repeat;
    background-attachment: fixed;
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
}