.flexSection {
    display: flex;
    margin: 48px 52px;
}

.blogArticle {
    @extend .bgColorArticle;
    width: 45%;
    margin-bottom: 30px;
    padding: 0px 0px;

    &:hover {
        margin-top: -10px;
        padding-bottom: 10px;
    }
}

.articleFlex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 80%;
}

.blogImg {
    width: 100%;
    margin-top: 0px;
}

.blogImg>img {
    width: 100%;
}

.pargArticle {
    font-size: 15px;
    width: 95%;
}

h3 {
    margin: 0;
}

.blogInfoAuthor {
    display: flex;
    flex-wrap: wrap;
    margin: 0px 15px;
}

.blogTitre {
    width: 100%;
    margin: 0px 15px;
    color: #FFA69E;
}

.blogText {
    margin: 0px 15px;
    width: 100%;
}

a {
    text-decoration: none;
}