.embFlex {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
    margin: 48px 52px;
}

.bgColorSearch>h2 {
    width: 100%;
    margin-top: 0px;
    margin-bottom: 21px;
    color: #FFA69E;
}

.bgColorEmbauche {
    display: flex;
    flex-wrap: wrap;
    background-color: #FFFDF8;
    border: solid 1px #5E6472;
    width: 62%;
    padding: 30px 34px;
}

.bgColorEmbauche>h3 {
    width: 100%;
}

.embSecEmploye {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.embSizeEmp {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 15%;
    margin: 25px 45px;
}

.embSizeImg {
    width: 100%;
}

.embProfilImg {
    width: 100%;
    margin: 0px;
}

.embInfoEmp {
    width: 100%;
}

.embInfoEmp>p {
    width: 100%;
    margin: 5px 0px;
    text-align: center;
}

.embEtatGreen {
    color: #03A900;
    font-weight: bold;
}

.btnEmbaucherEmp {
    text-align: center;
    width: 100%;
    background-color: #FFA69E;
    color: #FFFFFF;
    margin-top: 15px;
    padding: 5px 15px;
    border: solid 1px #FFA69E;

    &:hover {
        color: #FFA69E;
        background-color: #FFFFFF;
    }
}

.embLink {
    font-size: 18px;
    font-weight: 700;
    color: #5E6472;

    &:hover {
        border-bottom: solid 2px #5E6472;
    }
}

.selecLink {
    color: #FFA69E;

    &::after {
        color: #5E6472;
        content: "  \1F814";
    }
}