.newsletter {
    background-color: rgba(174, 217, 224, 0.5);
    padding: 20px;
    width: 100%;
    text-align: center;
    color: $BlackCoral;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    h3 {
        font-weight: 100;
        width: 100%;
    }

    .newsletterInput {
        margin: 10px;
        height: 40px;
        width: 100%;
        border: 0.5px solid $BlackCoral;
        color: $BlackCoral;
        transition: all 1s ease;

        &:hover {
            color: $SalmonPink;
            border: 0.5px solid $SalmonPink;
        }
    }

    button {
        margin: 10px;
        height: 40px;
        width: 100%;
        border: 0.5px solid $BlackCoral;
        background-color: rgba(174, 217, 224, 0);
        text-transform: uppercase;
        transition: all 1s ease;

        &:hover {
            color: $SalmonPink;
            border: 0.5px solid $SalmonPink;
        }
    }
}

.profils {
    background-color: $White;
    padding: 0 350px;
    margin: 40px auto;

    &_container {
        padding: 20px 0;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;

        div{
            text-align: center;
            margin: 0 5px;
            flex: 20%;
            font-weight: bold;
            p{
                margin: 5px 0 0 0;
                text-align: center;
                font-size: 18px;
            }
            img {
                width: 100px;
                height: 100px;
            }

            input[type=submit] {
                height: 40px;
                width: 150px;
                color: $SalmonPink;
                ;
                border: 0.5px solid $SalmonPink;
                background-color: $White;
                text-transform: uppercase;
                transition: all 0.5s ease-in-out;

                &:hover {
                    transform: scale(1.1);
                }
            }
        }
    }
}

.slider {
    width: 100%;
    margin: 40px 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    background-color: &white;

    &-wrap {
        width: 100%;
        position: relative;
        margin: auto;
    }
}

.mySlides {
    margin: 0;
    padding: 0;
    display: none;
    width: 100%;

    img {
        width: 100%;
    }

}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: $BlackCoral;
    background-color: $SalmonPink;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: $BlackCoral;
    color: $SalmonPink;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}