.sectionpresentation {
  font-family: 'Roboto', sans-serif;
}

.container {
  max-width: 1500px;
  margin: 0 auto;
}

.titresection {
  text-align: center;
  line-height: 42px;
}

.flex-container {
  display: flex;
  justify-content: space-between;
}

.flex-container>div {
  margin: 10px;
  padding: 20px;

}

.bckgroundArticle {
  background-color: #FFFDF8;
  margin-top: 30px;
}

.bckgroundArticle>div>h1,
div>h1 {
  color: #5E6472;
  font-size: 36px;
  margin-top: 70px;
  margin-bottom: 50px;
  transition: transform 1s;

  &:hover {
    transform: scale(1.5);
    color: #FFA69E;
  }
}

div>p {
  line-height: 40px;
  font-size: 24px;
  text-align: justify;
  margin-top: 25px;
  color: black;
}

article>div>div {
  margin-top: 40px;
}

article>div>img {
  margin-top: 70px;
}

.imageEquip,
.textEquipe {
  padding-top: 0px;
}

.sectionpresentation {
  background-color: #E1FFF9;
}

.pargraphePresentation>p {
  padding: 20px;
  margin: 10px;
}

.imagePresenation {
  padding-top: 70px;
}

div:nth-child(2) {
  flex: 1;
}

div>h2 {
  margin-top: 65px;
}