.artFlex {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
    margin: 48px 52px;
}

.bgColorArticle {
    background-color: #FAF3DD;
    width: 62%;
    padding: 29px 38px;
}

.artTitre {
    width: 100%;
    font-size: 36px;
    color: #FFA69E;
}

.artImg {
    width: 100%;
    margin-bottom: 0px;
}

.artImg>img {
    width: 100%;
}

.artInfoAuthor {
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
}

.artInfoAuthor>p {
    color: #5E6472;
}

.artText {
    margin-top: 0px;
    width: 100%;
}

.artText>p {
    font-size: 16px;
}

// Sec Aside
.bgColorSearch {
    display: flex;
    flex-wrap: wrap;
    background-color: #FFFFFF;
    border: 1px solid #5E6472;
    padding: 24px;
    width: 26%;
    height: 25%;
    margin-bottom: auto;
    margin-left: 25px;
}

.bgColorSearch>h3 {
    width: 100%;
    margin-top: 0px;
    margin-bottom: 21px;
    color: #FFA69E;
}

.artFormSearch {
    width: 100%;
    margin-top: 0px;
}

#researchArt {
    cursor: pointer;
}

.artFormSearch>label {
    width: 100%;
    margin-top: 0px;
    font-size: 18px;
}

.artFormSearch>select {
    width: 100%;
    margin-top: 0px;
    border: 1px solid #5E6472;
    height: 38px;
}

.artFormSearch>button {
    width: 100%;
    margin-top: 14px;
    background-color: #FFFFFF;
    border: 1px solid #FFA69E;
    height: 38px;
    color: #FFA69E;
    cursor: pointer;

    &:hover {
        background-color: #FFA69E;
        color: #FFFFFF;
    }
}