@import '_base';
@import "_presentation";
@import 'article';
@import '_blog';
@import "_embauche";
@import "login";
@import "_index";
@import "cms";

header {
    background-color: #FFFFFF;
}

.header {
    background-color: $BlackCoral;
    height: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &_half1 {
        width: 316px;
        margin-left: 20px;
        background-color: $BlackCoral;
        border-radius: 0 0 10px 10px;
        height: 150px;

        img {
            margin-top: 20px;
            width: 100%;
        }
    }

    &_half2 {
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0 0 auto 50px;
        text-align: center;

        .fr_en,
        .connexion {
            height: 50px;
            margin-top: 0;
            border-radius: 0 0 10px 10px;
        }

        .fr_en {
            width: 162px;
            background-color: $SalmonPink;
            margin: 0;
            height: 50px;
            padding: 30px 0 0 0;
            color: $BlackCoral;
            text-decoration: none;
        }

        .connexion {
            background-color: $AeroBlue;
            width: 233px;
            margin: 0 20px;
            height: 50px;
            padding: 30px 0 0 0;
            color: $BlackCoral;
            text-decoration: none;
        }
    }
}

.navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin: 40px 20px 0 0;
    padding-right: 20px;

    ul {
        list-style: none;
        text-transform: uppercase;
        margin: 55px 0;
        margin-right: 52px;

        li {
            display: inline;

            a {
                color: $BlackCoral;
                text-decoration: none;
                font-weight: bold;
                font-size: 20px;
                transition: all 0.4s ease-in-out;

                &:hover {
                    border-bottom: solid 2px $SalmonPink;
                    color: $SalmonPink;
                    transform: scale(1.5);
                }
            }

            &::after {
                content: "|";
                margin: 0 10px;
            }

            &:last-of-type {
                &::after {
                    content: "  ";
                }
            }
        }
    }
}

footer {
    display: flex;
    flex-direction: column;

    .footer-container {
        background-color: $BlackCoral;
        display: flex;
        color: $White;

        h2 {
            text-transform: uppercase;
            font-weight: bold;
            margin: 0 0 10px 0;
            padding: 0;
        }

        &_links {
            flex: 1 1 auto;
            padding: 20px 0 20px 40px;

            ul {
                list-style: none;
                margin: 0;
                padding: 0;
            }

            li {
                padding: 10px 0;

                a {
                    color: $White;
                    text-decoration: none;
                    text-transform: uppercase;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }

        &_tweets {
            flex: 1 1 auto;
            // padding: 20px 40px;
            padding: 20px 0 20px 40px;

            ul {
                list-style: none;
                margin: 0;
                padding: 0;
            }

            li {
                margin-top: 10px;
            }

            &_container {
                display: flex;

                div:last-child {
                    width: 250px;
                }

                h6 {
                    margin: 0 0 10px 10px;
                    padding: 0;
                }

                p {
                    color: $White;
                    font-size: 10px;
                    margin: 0 0 0 10px;
                    padding: 0;
                    line-height: 2;
                    text-align: justify;
                }
            }
        }

        &_coordonnees {
            flex: 1 1 auto;
            padding: 20px 0 20px 40px;

            // padding: 20px 80px 20px 40px;
            ul {
                list-style: none;
                margin: 0 0 40px 0;
                padding: 0;
            }

            li {
                padding: 0 0 5px 0;
                font-size: 14px;

                a {
                    color: $White;
                    text-decoration: none;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }

            img {
                margin: 0 5px 0 0;
                width: 12px;
            }

            &-rs {
                ul {
                    display: inline-flex;
                }

                img {
                    margin: 5px;
                    padding: 0;
                    width: 36px;
                    transition: all 0.5s ease-in-out;

                    &:hover {
                        background-color: #FFA69E;
                        border-radius: 50px;
                        transform: scale(1.2);
                    }
                }
            }
        }
    }

    .copyright {
        margin: 0;
        padding: 0;
        background-color: $PowderBlue;
        text-align: center;

        p {
            margin: 0 auto;
            padding: 0;
            font-size: 12px;
        }
    }
}