<div class="titresection"><h1>- {{titre}} -</h1></div> 
<section class="artFlex">
    <article class="bgColorArticle">
        <div>
            <h2 class="artTitre">{{articles.title}}</h2>
            <div class="artImg">
                <img src="{{articles.img}}" alt="Image article">
            </div>
            <div class="artInfoAuthor">
                <p>{{articles.date}} | </p>
                <p> {{articles.author}} | </p>
                <p> {{articles.category}}</p>
            </div>
            <div class="artText">
                <p>{{articles.content}}</p>
            </div>
        </div>
    </article>
    <aside class="bgColorSearch">
        <h3>Faite votre recherche</h3>
        <form class="artFormSearch" >
            <label for="researchArt">Carégorie</label>
            <select name="category" id="researchArt" onchange="location = this.value">
                <option selected disabled hidden value=""><strong>- SÉLECTIONNER -</strong></option>
                <option value="/blog/presentation">Présentation des produits ménagé</option>
                <option value="/blog/profil">Profil d’employés</option>
                <option value="/blog/trucsastuces">Trucs et astuces de nettoyage</option>
            </select>
            <button type="submit">RECHERCHE</button>
        </form>
    </aside>
</section>
<script>
  document.onload = selec()
  function selec() { document.getElementById('blogLink').style.color = "#FFA69E" }
</script>
