<div class="titresection">
    <h1>- Blog -</h1>
</div>
<section class="flexSection">
    <div class="articleFlex">
        {{#each articles}}
        <article class="blogArticle" data-aos="zoom-in">
            <a href="/article/{{this.id}}">
                <div class="blogImg">
                    <img src="{{this.img}}" alt="Image article">
                </div>
                <div class="blogInfoAuthor">
                    <p>{{this.date}} | </p>
                    <p>{{this.author}} | </p>
                    <p>{{this.category}}</p>
                </div>
                <h3 class="blogTitre">{{this.title}}</h3>
                <div class="blogText">
                    <p class="pargArticle">{{this.content}}</p>
                </div>
            </a>
        </article>
        {{/each}}
    </div>
    <aside class="bgColorSearch" data-aos="zoom-in">
        <h3>Faite votre recherche</h3>
        <form id="blogCategory" class="artFormSearch" >
            <label for="formCategory">Carégorie</label>
            <select name="category" id="formCategory" onchange="location = this.value">
                <option selected disabled hidden value=""><strong>- SÉLECTIONNER -</strong></option>
                <option value="/blog/presentation">Présentation des produits ménagé</option>
                <option value="/blog/profil">Profil d’employés</option>
                <option value="/blog/trucsastuces">Trucs et astuces de nettoyage</option>
            </select>
            <button type="submit">RECHERCHE</button>
        </form>
    </aside>
</section>
<script>
    document.onload = selec()
    function selec() { document.getElementById('blogLink').style.color = "#FFA69E" }
</script>