<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="descrition" content="Entretien ménagé pour embauche">
    <meta name="keywords" content="Ménage, femme de ménage, Entretien, Laver, Embaucher">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>{{ title }}</title>
</head>

<body>
    <header>
        <section class="header">
            <article class="header_half1">
                <a href="/">
                    <img src="/images/logo.png" alt="Logo Faitmonménage">
                </a>
            </article>
            <article class="header_half2">
                <a href="" class="fr_en">EN / FR</a>
                {{#if user}}
                    <a href="/logout" class="connexion">DÉCONNEXION</a>
                {{else}}
                    <a href="/login" class="connexion">CONNEXION</a>
                {{/if}}
            </article>
        </section>
        <section>
            <nav class="navbar">
                <ul>
                    <li><a id="accueilLink" href="/">Accueil</a></li>
                    <li><a id="presentationLink" href="/presentation">Présentation</a></li>
                    <li><a id="blogLink" href="/blog">Blog</a></li>
                    <li><a id="embaucheLink" href="/hiring">Embauche</a></li>
                </ul>
            </nav>
        </section>
    </header>
    <main>
        {{{body}}}
    </main>
    <footer>
        <div class="footer-container flex-container">
            <div class="footer-container_links">
                <h2>LIENS UTILES</h2>
                <ul>
                    <li><a href="/">Accueil</a></li>
                    <li><a href="/blog">Blog</a></li>
                    <li><a href="/presentation">Présentation</a></li>
                    <li><a href="/login">Connexion</a></li>
                    <li><a href="/register">Créer un compte</a></li>
                </ul>
            </div>
            <div class="footer-container_tweets">
                <h2>DERNIERS TWEETS</h2>
                <ul>
                    <li>
                        <div class="footer-container_tweets_container">
                            <div>
                                <img src="/images/icon_tweets.png" alt="Logo twitter">
                            </div>
                            <div>
                                <h6>Tweets 1</h6>
                                <p>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                    Ipsum has printer took a galley of type and scrambled it to make a type specimen
                                    book.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="footer-container_tweets_container">
                            <div>
                                <img src="/images/icon_tweets.png" alt="Logo twitter">
                            </div>
                            <div>
                                <h6>Tweets 2</h6>
                                <p>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                    Ipsum has printer took a galley of type and scrambled it to make a type specimen
                                    book.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="footer-container_tweets_container">
                            <div>
                                <img src="/images/icon_tweets.png" alt="Logo twitter">
                            </div>
                            <div>
                                <h6>Tweets 3</h6>
                                <p>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                    Ipsum has printer took a galley of type and scrambled it to make a type specimen
                                    book.
                                </p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="footer-container_coordonnees">
                <h2>COORDONNÉES</h2>
                <ul>
                    <li>
                        <img src="/images/icon_web1.png" alt="Logo web">
                        <a href="">www.faitmonmenage.com</a>
                    </li>
                    <li>
                        <img src="/images/icon_msg.png" alt="Logo email">
                        <a href="mailto:faitmonmenage@clean.com">faitmonmenage@clean.com</a>
                    </li>
                    <li>
                        <img src="/images/icon_tel.png" alt="Logo téléphone">
                        <a href="tel:+15148972541">Tél.:+1 (514) 897-2541</a> <a href="fax:5148972145">- Fax: (514)
                            897-2145</a>
                    </li>
                </ul>
                <h2>REJOIGNEZ-NOUS SUR :</h2>
                <div class="footer-container_coordonnees-rs">
                    <ul>
                        <li><a href="https://www.facebook.com/"><img src="/images/icons-rs/rs_facebook.svg"
                                    alt="Logo facebook"></a></li>
                        <li><a href="https://fr.wikipedia.org/wiki/Google%2B"><img src="/images/icons-rs/rs_google+.svg"
                                    alt="Logo google+"></a></li>
                        <li><a href="https://www.instagram.com/"><img src="/images/icons-rs/rs_instagram.svg"
                                    alt="Logo instagram"></a></li>
                        <li><a href="https://www.linkedin.com/"><img src="/images/icons-rs/rs_linkedin.svg"
                                    alt="Logo linkedin"></a></li>
                        <li><a href="https://twitter.com/"><img src="/images/icons-rs/rs_twitter.svg" alt="Logo twitter"></a>
                        </li>
                        <li><a href="https://www.youtube.com/"><img src="/images/icons-rs/rs_youtube.svg" alt="Logo youtube"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="copyright flex-container">
            <p>faitmonmenage.com COPYRIGHT | 2021-2022 | Tous droits réservés</p>
        </div>
    </footer>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>AOS.init()</script>

</body>

</html>