<section class="container">
    <div class="titresection">
        <h1>- {{titre}} -</h1>
    </div>
    {{#each presentations}}
    <article class="flex-container bckgroundArticle">
        <div class="imageEquipe" data-aos="fade-right">
            <img src="{{this.img}}" alt="" width="493" height="308">
        </div>
        <div class="textEquipe" data-aos="fade-left">
            <h2>{{this.titre}}</h2>
            <P>{{this.content}}</P>
        </div>
    </article>
    {{/each}}
</section>
<script>
    document.onload = selec()
    function selec() { document.getElementById('presentationLink').style.color = "#FFA69E" }
</script>