<section class="logoTop">
  <article class="logo">
    <a href="/">
      <img class="logoImgTop" src="/images/cms/pages/reglages.svg" alt="Logo CMS">
      <p>CMS</p>
    </a>
  </article>
</section>
<section class="indexContainer">
  <h1>Ajout de présentation</h1>
  <article class="addArticleSec bgWhite2">
    <form class="addUserSizeForm" action="/cms/presentation/add" method="POST">
      <fieldset class="addUserFild">
        <label class="addUserLabel" for="addImgPresentation">Image:</label>
        <select class="addUserSelec" name="img" id="addImgPresentation">
          <option value="">Aucune image</option>
          <option value="/images/cms/pages/031-money-bag.svg">Money Bag</option>
          <option value="/images/cms/pages/cleaning-staff.svg">cleaning Staff</option>
          <option value="/images/cms/pages/man.svg">Man</option>
          <option value="/images/Image-Hans.jpg">Image Hans</option>
          <option value="/images/image-Imane.jpeg">Image Imane</option>
          <option value="/images/image-nabil.jpeg">Image Nabil</option>
          <option value="/images/cms/pages/articleColor.svg">Article</option>
        </select>
        <label class="addUserLabel" for="addTitlePresentation">Titre:</label>
        <input class="addUserInput" id="addTitlePresentation" name="titre" type="text"
          placeholder="Comment bien choisir vos produit ménagé">
        <label class="addUserLabel" for="addContentPresentation">Contenu de l'article:</label>
        <textarea class="addUsertTextA" id="addContentPresentation" cols="30" rows="10" name="content" type="text"></textarea>
        <div>
          <button class="btnAddUser" type="submit">Confirmer</button>
          <a href="/cms/presentation" class="btnDel">Annuler</a>
        </div>
      </fieldset>
    </form>
  </article>
</section>
<script>
  document.onload = selec()
  function selec() { document.getElementById('forfaitBTN').style.backgroundColor = "#588157"; document.getElementById('forfaitBTN').style.color = "#FFFFFF" }
</script>