<section class="logoTop">
    <article class="logo">
        <a href="/">
            <img class="logoImgTop" src="/images/cms/pages/reglages.svg" alt="Logo CMS">
            <p>CMS</p>
        </a>
    </article>
</section>
<section class="indexContainer">
    <h2 class="forfaitTitre">Administation des article page Blog</h2>
    <article class="indexBtnUserAllTop">
        <a href="/cms/article/add" class="indexBtnUser">
            <img class="indexImgBtn" src="/images/cms/pages/articleColor.svg" alt="Image article">
            <h4>Ajouter article</h4>
        </a>
        <span class="UserShowCount">
            <h3>Nombre de Section</h3>
            <p class="indexCountBtn">{{numArticle}}</p>
        </span>
    </article>
    <article class="indexBtnUserAllTop">
        {{#each articles}}
        <div class="userFlex bgWhite2">
            <img class="preImgSize" src="{{this.img}}" width="160px" alt="Image article">
            <div class="userInfoFlex">
                <div><strong>Titre : </strong>{{this.title}}</div>
                <div><strong>Date: </strong>{{this.date}}</div>
                <div><strong>Auteur: </strong>{{this.author}}</div>
                <div><strong>Catégorie: </strong>{{this.category}}</div>
                <div><strong>Contenue: </strong>{{this.content}}</div>
            </div>
            <div class="unserFunc">
                <a class="userFuncEditProfil" href="/cms/article/edit/{{this.id}}">
                    <img src="/images/cms/pages/036-note.svg" alt="icon éditer">
                    Éditer
                </a>
                <a class="userFuncDelProfil" href="/cms/article/delete/{{this.id}}">
                    <img src="/images/cms/pages/033-trash-bin.svg" alt="icon supprimer">
                    Supprimer
                </a>
            </div>
        </div>
        {{/each}}
    </article>
</section>
<script>
    document.onload = selec()
    function selec() {
        document.getElementById('userBTN').style.backgroundColor = "#588157"
        document.getElementById('userBTN').style.color = "#FFFFFF"
    }
</script>