<section class="logoTop">
    <article class="logo">
        <a href="/">
            <img class="logoImgTop" src="/images/cms/pages/reglages.svg" alt="Logo CMS">
            <p>CMS</p>
        </a>
    </article>
</section>
<section class="indexContainer">
    <h2>Nombre de contenue par page</h2>
    <article class="indexBtnUserAllTop">
        <a href="/cms/article" class="indexBtnUser">
            <img class="indexImgBtn" src="/images/cms/pages/articleColor.svg" alt="Image particulier">
            <h4>Article(s)</h4>
            <p class="indexCountBtn">{{numArticle}}</p>
        </a>
        <a href="/cms/presentation" class="indexBtnUser">
            <img class="indexImgBtn" src="/images/cms/pages/presentation.svg" alt="Image entreprise">
            <h4>Présentation</h4>
            <p class="indexCountBtn">{{numPresentation}}</p>
        </a>
    </article>
    <article class="indexBtnUserAllTop bgWhite">
        <h1>Bienvenue sur le CMS du Site web</h1>
        <p class="indexText">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
            nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
            anim id est laborum.
        </p>
        <p class="indexText">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
            nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
            anim id est laborum.
        </p>
    </article>
</section>
<script>
    document.onload = selec()
    function selec() {
        document.getElementById('accueilBTN').style.backgroundColor = "#588157"
        document.getElementById('accueilBTN').style.color = "#FFFFFF"
    }
</script>