<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap"
    rel="stylesheet">
  <title>{{title}}</title>
</head>

<body>
  <header>
    <nav class="navCms">
      <article class="navProfilView">
        <img class="imgProfil" src="/images/cms/nav/010-profile.svg" alt="image profil">
        <p class="navMsg">Bienvenue</p>
        <p class="navUserName">Root</p>
      </article>
      <article class="navView">
        <div class="navSubTitle">Outils d'admin</div>
        <div class="navLinkDiv">
          <a id="accueilBTN" class="navLink" href="/cms/"><img class="navImgLink" src="/images/cms/nav/016-homebl.svg"
              alt="accueil">Accueil</a> <br>
          <a id="userBTN" class="navLink" href="/cms/article"><img class="navImgLink"
              src="/images/cms/nav/articleBl.svg" alt="utilisateur"> Article </a> <br>
          <a id="forfaitBTN" class="navLink" href="/cms/presentation"><img class="navImgLink"
              src="/images/cms/nav/presentationBl.svg" alt="forfait">Présentation</a>
          <br>
        </div>
        <div class="barre"></div>
        <div class="navSubTitle2">Référence</div>
        <div class="navLinkDiv">
          <a id="docBTN" class="navLink" href="/cms/documentation"><img class="navImgLink"
              src="/images/cms/nav/informationsbl.svg" alt="documentation">Documentation</a>
        </div>
      </article>
      <article>
        <a class="navLogout" href="/cms/logout"><img class="navImgLogout" src="/images/cms/nav/logout.svg"
            alt="se déconnecter">Se déconnecter</a>
      </article>
    </nav>
  </header>
  <main class="mainCms">
    {{{body}}}
  </main>
  <footer>

  </footer>
  
</body>
<style>
    body {
      background-color: #EBEBEB;
      background-image: none;
      font-family: 'Open Sans', sans-serif;
    }
  </style>
</html>