<section class="logoTop">
    <article class="logo">
        <a href="/">
            <img class="logoImgTop" src="/images/cms/pages/reglages.svg" alt="Logo CMS">
            <p>CMS</p>
        </a>
    </article>
</section>

<section class="indexContainer">
    <h2 class="forfaitTitre">Administation page Présentation</h2>
    <article class="indexBtnUserAllTop">
        <a href="/cms/presentation/add" class="indexBtnUser">
            <img class="indexImgBtn" src="/images/cms/pages/presentation.svg" alt="">
            <h4>Ajouter présentation</h4>
        </a>
        <span class="UserShowCount">
            <h3>Nombre de Section</h3>
            <p class="indexCountBtn">{{numPresentation}}</p>
        </span>
    </article>
    <article class="indexBtnUserAllTop">
        {{#each presentations}}
        <div class="userFlex bgWhite2">
            <img class="preImgSize" src="{{this.img}}" width="160px" alt="Image article">
            <div class="userInfoFlex">
                <div><strong>Titre : </strong>{{this.titre}}</div>
                <div><strong>Contenue: </strong>{{this.content}}</div>
            </div>
            <div class="unserFunc">
                <a class="userFuncEditProfil" href="/cms/presentation/edit/{{this.id}}">
                    <img src="/images/cms/pages/036-note.svg" alt="icon éditer">
                    Éditer
                </a>
                <a class="userFuncDelProfil" href="/cms/presentation/delete/{{this.id}}">
                    <img src="/images/cms/pages/033-trash-bin.svg" alt="icon supprimer">
                    Supprimer
                </a>
            </div>
        </div>
        {{/each}}
    </article>
</section>
<script>
    document.onload = selec()
    function selec() { document.getElementById('forfaitBTN').style.backgroundColor = "#588157"; document.getElementById('forfaitBTN').style.color = "#FFFFFF" }
</script>