<span id="data-account" data-id="{{ account._id }}" data-type="{{ account.type }}"></span>
<div class="titresection">
    <h1>- {{titre}} -</h1>
</div>
<div class="artFlex">
    <aside class="bgColorSearch">
        <h2>Bienvenue {{account.first_name}} {{account.last_name}}</h2>
        <ul>
            <li><a class="embLink" href="/profil">Profil</a></li>
            <li><a class="embLink selecLink" href="/hiring">Embaucher employé</a></li>
        </ul>
        {{#if_eq account.type "business"}}
        <h2>Choisir 3 employés</h2>
        <div>
            <span id="employees-count">0/3</span>
            <form data-type="forfait" action="">
                <button data-type="forfait-submit" class="btnEmbaucherEmp" type="submit" disabled>Embaucher</button>
            </form>
        </div>
        {{/if_eq}}
        {{#if_eq account.type "particular"}}
        <h2>Choisir votre forfait</h2>
        <div>
            <form data-type="forfait" action="#" method="POST">
                {{#each forfaits}}
                    <label for="{{this.recurrence}}">{{this.recurrence}} fois par {{this.frequence}}</label>
                    <input required type="radio" value="{{this.recurrence}}" class="{{this.recurrence}}" name="forfait"><br>
                {{/each}}
                <button data-type="forfait-submit" class="btnEmbaucherEmp" type="submit" disabled>Embaucher</button>
            </form>
        </div>
        {{/if_eq}}
    </aside>
    <section id="employees" class="bgColorEmbauche">
        <h3>Embaucher employé</h3>
    </section>
</div>
<script src="/javascripts/script.js"></script>
<script>
    document.onload = selec()
    function selec() { document.getElementById('embaucheLink').style.color = "#FFA69E" }
</script>