<div id="profil">
    <div class="titresection">
        <h1>- {{titre}} -</h1>
    </div>
    <section class="container">
        <aside>
            <h2>Bienvenue {{ account.first_name }} {{ account.last_name }}</h2>
            <ul>
                <li><a class="embLink selecLink" href="/profil">Profil</a></li>
                <li><a class="embLink" href="/hiring">Embaucher une femme de menage</a></li>
            </ul>
        </aside>
        <article>
            <h2>VOS COORDONNÉES</h2>
            <div id="error"></div>
            {{#if edit}}
            <form id="profil-edit">
                <table>
                    <tr>
                        <td><label for="form-lastname">Nom:</label></td>
                        <td><input type="text" name="last_name" id="form-lastname" value="{{ account.last_name }}"></td>
                    </tr>
                    <tr>
                        <td><label for="form-firstname">Prenom:</label></td>
                        <td><input type="text" name="first_name" id="form-firstname" value="{{ account.first_name }}"></td>
                    </tr>
                    <tr>
                        <td><label for="form-email">Courriel:</label></td>
                        <td><input type="email" name="email" id="form-email" value="{{ account.email }}"></td>
                    </tr>
                    <tr>
                        <td><label for="form-postalcode">Code Postal:</label></td>
                        <td><input type="text" name="postal_code" id="form-postalcode" value="{{ account.postal_code }}">
                        </td>
                    </tr>
                    <tr>
                        <td><label for="form-phone">Téléphone:</label></td>
                        <td><input type="tel" name="phone" id="form-phone" value="{{ account.phone }}"></td>
                    </tr>
                    <tr>
                        <td><label for="form-type">Profil:</label></td>
                        <td>
                            <select name="type" id="form-type">
                                <option value="particular">Particulier</option>
                                <option value="business">Entreprise</option>
                            </select>
                        </td>
                    </tr>
                </table>
                <div>
                    <input type="submit" value="MODIFIER" class="edit-button">
                    <a href="/profil" class="cancel-button">ANNULER</a>
                </div>
            </form>
            {{ else }}
            <table>
                <tr>
                    <td>Nom :</td>
                    <td>{{ account.last_name }}</td>
                </tr>
                <tr>
                    <td>Prenom :</td>
                    <td>{{ account.first_name }}</td>
                </tr>
                <tr>
                    <td>Courriel :</td>
                    <td>{{ account.email }}</td>
                </tr>
                <tr>
                    <td>Code Postal :</td>
                    <td>{{ account.postal_code }}</td>
                </tr>
                <tr>
                    <td>Téléphone :</td>
                    <td>{{ account.phone }}</td>
                </tr>
                <tr>
                    <td>Profil :</td>
                    <td>{{ account.type }}</td>
                </tr>
            </table>
            <a href="/profil/edit" class="edit-button hvr-fade">MODIFIER</a>
            <a href="/profil/delete/{{account.id}}" class="cancel-button">Supprimer Profil</a>
            {{/if}}
        </article>
    </section>
</div>
<script src="/javascripts/script.js"></script>