<section class="logoTop">
  <article class="logo">
    <a href="/">
      <img class="logoImgTop" src="/images/cms/pages/reglages.svg" alt="Logo CMS">
      <p>CMS</p>
    </a>
  </article>
</section>
<section class="indexContainer">
  <h1>Ajout d'article</h1>
  <article class="addArticleSec bgWhite2">
    <form class="addUserSizeForm" action="/cms/article/edit/{{articles.id}}" method="POST">
      <fieldset class="addUserFild">
        <label class="addUserLabel" for="addTitleArticle">Titre:</label>
        <input class="addUserInput" id="addTitleArticle" value="{{articles.title}}" name="title" type="text"
          placeholder="Comment bien choisir vos produit ménagé">
        <label class="addUserLabel" for="addImgArticle">Image:</label>
        <select class="addUserSelec" name="img" id="addImgArticle">
          <option value="/images/cms/pages/031-money-bag.svg" {{#if_eq articles.img '/images/cms/pages/031-money-bag.svg' }} selected {{/if_eq}}>Money Bag</option>
          <option value="/images/cms/pages/cleaning-staff.svg" {{#if_eq articles.img '/images/cms/pages/cleaning-staff.svg' }} selected {{/if_eq}}>cleaning Staff</option>
          <option value="/images/cms/pages/man.svg" {{#if_eq articles.img '/images/cms/pages/man.svg' }} selected {{/if_eq}}>Man</option>
          <option value="/images/cms/pages/037-internet.svg" {{#if_eq articles.img '/images/cms/pages/037-internet.svg' }} selected {{/if_eq}}>Internet</option>
          <option value="/images/cms/pages/office-building.svg" {{#if_eq articles.img '/images/cms/pages/office-building.svg' }} selected {{/if_eq}}>Office Building</option>
          <option value="/images/cms/pages/presentation.svg" {{#if_eq articles.img '/images/cms/pages/presentation.svg' }} selected {{/if_eq}}>Présentation</option>
          <option value="/images/cms/pages/articleColor.svg" {{#if_eq articles.img '/images/cms/pages/articleColor.svg' }} selected {{/if_eq}}>Article</option>
        </select>
        <label class="addUserLabel" for="addDateArticle">Date:</label>
        <input class="addUserInput" id="addDateArticle" value="{{articles.date}}" name="date" type="date">
        <label class="addUserLabel" for="addAuthorArticle">Auteur:</label>
        <input class="addUserInput" id="addAuthorArticle" value="{{articles.author}}" name="author" type="text"
          placeholder="ex: James Webb">
        <label class="addUserLabel" for="addUserCodeP">Catégorie:</label>
        <select class="addUserSelec" name="category" id="addCategoryArticle">
          <option value="Présentation protuis" {{#if_eq articles.category 'Présentation protuis' }} selected {{/if_eq}}>Présentation des protuis ménagé
          </option>
          <option value="Profil d'employés" {{#if_eq articles.category "Profil d'employés" }} selected {{/if_eq}}>Profil d'employés</option>
          <option value="Trucs et astuces" {{#if_eq articles.category 'Trucs et astuces' }} selected {{/if_eq}}>Trucs et astuces de nettoyage</option>
        </select>
        <label class="addUserLabel" for="addContentArtcticle">Contenu de l'article:</label>
        <textarea class="addUsertTextA" id="addContentArtcticle" cols="30" rows="10" name="content"
          type="text">{{articles.content}}</textarea>
        <div>
          <button class="btnAddUser" type="submit">Confirmer</button>
          <a href="/cms/article" class="btnDel">Annuler</a>
        </div>
      </fieldset>
    </form>
  </article>
</section>
<script>
  document.onload = selec()
  function selec() { document.getElementById('userBTN').style.backgroundColor = "#588157"; document.getElementById('userBTN').style.color = "#FFFFFF" }
</script>